<%= stylesheet_link_tag "application"%>
<!--<%= javascript_include_tag :defaults %>-->
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "progressbar.js" %>
<!DOCTYPE html>

<html>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row text-center">
        <div class="col-xs-8 col-xs-offset-2";>
          <%= yield %>
        </div>
      </div>
      <div class="row">
      	<div class="col-xs-12"; id="chart-container";></div>
      </div>
      <div class="row top-buffer">
      </div>
        

      <div class="row">
      	<div class="col-xs-8 col-xs-offset-2">
            <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped" id="progressbar1"role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                  	Sleep
              	  </div>
                    <script>
                        var sleep = <%= (@todaySleep/8)*100 %>;
                        console.log(sleep);
                        $(document).ready(function() {
                            $("#progressbar1").css("width", sleep+'%');
                        });
                    </script>
        </div>
          
        <div class="col-xs-4">
            
        </div>
       </div>


          
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" id="progressbar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  	Steps
                      
                      
                    <script>
                        var steps = <%= (@todaySteps/@todayStepGoal)*100 %>;
                        console.log(steps);
                        $(document).ready(function() {
                            $("#progressbar2").css("width", steps+'%');
                        });
                    </script>
                  </div>
              </div>
          </div>
          
          <div class="col-xs-2">
            
          </div>
      </div>
        
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <div class="progress">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" id="progressbar3" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  	Calories
                    <script>
                        var burn = <%= (@todayBurned/@todayBurnGoal)*100 %>;
                        console.log(burn);
                        $(document).ready(function() {
                            $("#progressbar3").css("width", burn+'%');
                        });
                    </script>
                  </div>
              </div>
          </div>
          
          <div class="col-xs-2">
            
          </div>
      </div>
        
      <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
              <button type="button" class="btn btn-warning btn-block">Log out</button>
<!--              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
              
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </div>
          
          <div class="col-xs-4">
              
          </div>
      </div>
                    
      </div>
    </div>
    
  </body>
  
</html>